@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    color: #7F5539;
}

.header {
    width: auto;
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: #DDB892;
    grid-gap: 1vh;
}

.header_first {
    display: flex;
    justify-content: center;
}

.header_sec {
    font-family: 'Roboto Slab', serif;
    display: flex;
    margin-left: 2vh;
}

.header_sec h1 {
    align-self: center;
    letter-spacing: 1vh;
    color: #7F5539;
    text-decoration: none;
}

.header_auth {
    color: #7F5539;
    display: flex;
    justify-content: center;
}

.header_auth h2 {
    align-self: center;
    letter-spacing: 1vh;
}

.header_auth i {
    align-self: center;
}

body {
    background-color: #EDE0D4;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

img {
    border-radius: 2%;
}

.main {

    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80%;
    background-color: #E6CCB2;
    height: 100vh;
}

h2 {

    align-self: center;
    font-size: 4vh;
    font-family: 'Roboto Slab', serif;
}

p {
    font-stretch: normal;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: larger;
    margin: 3vh;
}

.for_products {
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 2vh;
    float: left;
}

.product {

    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    border: solid #7F5539;
    float: left;
}


.pic_and_price {
    display: grid;
    grid-template-columns: 50% 50%;
}

.pic_of_product img {
    width: 350px;
    height: 350px;
}

.name_of_product {
    text-align: left;
}

.price_of_product {
    text-align: end;
}

span {
    font-size: x-large;
    text-align: end;
}

.plus {
    display: flex;
    justify-content: center;
    padding-top: 20px;

}
