<!DOCTYPE html>
<html lang="en" dir="ltr">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Миндаль | Сладкое</title>

    <link href="../static/css/style_sweets.css" th:href="@{/css/style_sweets.css}" rel="stylesheet"/>
</head>
<body style="margin: 0">
<div class="header">
    <div class="header_sec">
        <a th:href="@{/}">
            <h1>Миндаль</h1>
        </a>
    </div>
    <div class="header_auth">
        <i><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></i>
        <i> <a href="/basket"><img th:src="@{/images/cart.png}" src="../static/images/cart.png"
                                                    width="35vw" height="35vh"></a></i>
    </div>
</div>
<div class="main">
    <h2>Выпечка и Десерты</h2>
    <p>Осень - это время когда стоит порадовать себя вкусной выпечкой и сладкими десертами! Наша кофейня готовит выпечку
        каждые два часа,
        чтобы вы могли насладиться свежими круассанами и булочками, зайдя к нам в любое время!</p>

    <div class="for_products" style="display: flex; justify-content: space-around; flex-wrap: wrap; flex-direction: row;" >
        <div class="product" th:each="s: ${sweets}">
            <div class="pic_of_product"><img th:src="@{'/images/sweets/' + ${s.getImageUrl()}}"></div>
            <div class="pic_and_price">
                <div class="name_of_product"><h3 th:text="${s.getName()}"/></div>
                <div class="price_of_product"><p th:text="${s.getPrice()}"/></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>



 